/*Main.css*/
/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Faster+One&family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

.header {
    position: absolute;
    width: 482px;
    height: 70px;
    left: 394px;
    top: 275px;
    text-align: center;
    font-family: 'Alfa slab one';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: #CE4A7E;
}

.subheader{
    position: absolute;
    width: 592px;
    height: 50px;
    left: 394px;
    top: 356px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #000E08;
}

.gonickname {
    position: absolute;
    width: 267px;
    height: 66px;
    left: 505px;
    top: 565px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    background: #CE4A7E;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 16px;
    color: #000000;
    left: 50%;
    transform: translateX(-50%);

}